.page-footer {
  background-color: var(--section_background);
}

.contact-tel {
  text-align: right;
  color: var(--black);
}

.contakt-tel__link {
  color: var(--accent_color);
}

.copyright__text {
  // text-align: center;
  margin: 0 auto;
  color: var(--main_text);
}

// MOBILE
@media screen and (max-width: 767px) {
  .page-footer {
    padding-top: 60px;
    //padding-bottom: 45px;
  }

  .contact-tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    margin-bottom: 40px;
  }

  .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid var(--border);
  }

  .copyright__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    max-width: 150px;
    // margin: 0 auto;
  }
}

// TABLET
@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 60px;
    //padding-bottom: 90px;
  }

  .contact-tel {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
  }

  .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid var(--border);
  }

  .copyright__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

// DESCTOP
@media screen and (min-width: 1280px) {
  .page-footer {
    padding-top: 80px;
    //padding-bottom: 95px;
  }

  .contact-tel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }

  .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid var(--border);
  }
}
