.gallery {
  background-image: linear-gradient(180deg, var(--section_background) 40%, var(--white) 41%);
}

.gallery-img {
  display: flex;
  justify-content: center;
  max-width: 320px;
  display: none;
}

//.gallery-wrapper {
//display: none;
//}

// TABLET
// @media screen and (min-width: 768px) {
//   .gallery-img {
//     max-width: 730px;
//     display: none;
//   }
// }

// DESCTOP
// @media screen and (min-width: 320px) {
//   .gallery-img {
//     max-width: 1280px;
//     display: none;
//   }

//gallery-wrapper-visible

.gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gallery__elem {
  flex-basis: calc(98% / 7);
  height: calc(98% / 7);
  margin: calc(2% / 12);
  border-radius: 15%;
  overflow: hidden;

  transition: all var(--main-transition);

  .gallery-wrapper > &:first-child {
    transform-origin: center left;
  }

  .col7 > &:last-child {
    transform-origin: center right;
  }

  &:hover {
    transform: scale(1.1);
    //filter: sepia(80%);
    z-index: 100;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
}

.gallery__img {
  max-width: 100%;
  height: auto;
}

.col1,
.col2,
.col3,
.col5,
.col6,
.col7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-shift {
  width: 100%;
  height: 30px;
  background-color: transparent;
}

.col3 .gallery__elem:last-child {
  display: flex;
  flex-direction: column;
  width: 50%;

  & .gallery__img {
    flex-grow: 0.5;
  }
}
