.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;

  & .container {
    display: flex;

    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.active-link {
  color: var(--accent_color);
}

@media screen and (min-width: 730px) {
  .header {
    &__container {
      padding-top: 37px;
    }
  }

  .burger-btn {
    margin-left: 290px;
  }
}

// @media screen and (min-width: 1080px) {
//   .burger-btn {
//     display: none;
//   }

//   .btn-hidden {
//     display: none;
//   }

//   .menu {
//     min-width: 478px;
//     &__btn-close {
//       display: none;
//     }

//     &__list {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//     }
//     &__item {
//       padding: 5px 0px;
//     }
//   }
//   .btn-tablet {
//     margin-left: 110px;
//   }
// }
