.mention-reviews {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.mention-reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.client-photo {
  margin-bottom: 25px;
}

.client-descr {
  margin-bottom: 30px;
  line-height: 255%;

  padding: 45px 50px 20px;

  background-color: #fafafa;
}

.client-substrate {
  width: 180px;
  height: 217px;
  background-image: linear-gradient(
    0deg,
    rgba(225, 225, 225, 1) 0%,
    rgba(0, 0, 0, 0) 2%,
    rgba(0, 0, 0, 0) 12%,
    rgba(225, 225, 225, 1) 13%,
    rgba(0, 0, 0, 0) 14%,
    rgba(0, 0, 0, 0) 23%,
    rgba(225, 225, 225, 1) 24%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 35%,
    rgba(225, 225, 225, 1) 36%,
    rgba(0, 0, 0, 0) 37%,
    rgba(0, 0, 0, 0.02874653279280459) 47%,
    rgba(225, 225, 225, 1) 48%,
    rgba(0, 0, 0, 0) 49%,
    rgba(35, 35, 35, 0) 59%,
    rgba(225, 225, 225, 1) 60%,
    rgba(0, 0, 0, 0) 61%,
    rgba(0, 0, 0, 0) 71%,
    rgba(225, 225, 225, 1) 72%,
    rgba(0, 0, 0, 0) 73%,
    rgba(0, 0, 0, 0) 83%,
    rgba(225, 225, 225, 1) 84%,
    rgba(0, 0, 0, 0) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.group-points {
  margin-bottom: 18px;
  fill: var(--primary_accent);
}

.client-site {
  margin-bottom: 30px;
}

.home-slider {
  fill: #d31342;
}

.ellipse-slider {
  fill: #d9d9d9;
}
