.mention-reviews {
  padding-top: 80px;
  padding-bottom: var(--section-pb);

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    text-align: center;
  }
}

.client {
  &-photo {
    margin-bottom: 25px;
  }

  &-wrapper {
    position: relative;
    width: 280px;
    padding: 43px 50px 20px;
    margin-bottom: 42px;

    color: var(--black);
    font-weight: 500;
    line-height: 2.5;

    border-radius: 10px;
    background-color: #fafafa;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50px;
      left: 76px;
      transform: translate(-50%, -50%);

      z-index: 3;
      width: 54px;
      height: 40px;

      background: url(../images/svg-icon/quotes.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-descr {
    position: relative;

    width: 180px;
    height: 236px;
    padding-left: 12px;
    padding-right: 12px;
    background-image: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0),
      var(--border) 1px 2px,
      rgba(0, 0, 0, 0) 2px 30px
    );
  }

  &-inner {
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 5;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 2.5;
  }

  &-site {
    position: relative;
    margin-bottom: 30px;

    color: var(--black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    &::before {
      content: '';
      position: absolute;
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      display: block;
      width: 32px;
      height: 4px;

      background-image: url(../images/svg-icon/group-points.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

// tablet
@media screen and (min-width: 768px) {
  .client {
    &-wrapper {
      width: 620px;
    }

    &-descr {
      width: 530px;
      height: 85px;
      padding-left: 32px;
      padding-right: 32px;
    }

    &-inner {
      font-size: 14px;
      line-height: 2;
    }

    &-site {
      font-size: 16px;
    }
  }
}

// desktop
@media screen and (min-width: 1280px) {
  .client {
    &-wrapper {
      width: 932px;
      // padding: 20px 50px;
    }

    &-descr {
      width: 822px;
      height: 60px;
    }

    &-inner {
      font-size: 16px;
      line-height: 1.9;
    }

    &-site {
      font-size: 18px;
    }
  }
}
