.mention-reviews {
  padding-top: 80px;
  padding-bottom: var(--section-pb);

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }
}

.client {
  &-photo {
    margin-bottom: 25px;
  }

  &-wrapper {
    width: 280px;
    padding: 20px 50px;
    margin-bottom: 30px;

    color: var(--black);
    font-weight: 500;

    line-height: 2.5;

    background-color: #fafafa;
  }

  &-descr {
    background-image: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0),
      #e1e1e1 1px 2px,
      rgba(0, 0, 0, 0) 2px 30px
    );
  }

  &-site {
    margin-bottom: 30px;
  }
}

.group-points {
  margin-bottom: 18px;
  fill: var(--primary_accent);
}

.home-slider {
  fill: #d31342;
}

.ellipse-slider {
  fill: #d9d9d9;
}

// tablet
@media screen and (min-width: 730px) {
  .client {
    &-wrapper {
      width: 620px;
      padding: 20px 50px;
    }

    &-descr {
      background-image: repeating-linear-gradient(0deg, #e1e1e1 1px 2px, rgba(0, 0, 0, 0) 2px 30px);
    }

    &-inner {
      font-size: 14px;
    }
  }
}

// desktop
@media screen and (min-width: 1080px) {
  .client {
    &-wrapper {
      width: 932px;
      // padding: 20px 50px;
    }

    &-descr {
      background-image: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0),
        #e1e1e1 1px 2px,
        rgba(0, 0, 0, 0) 2px 30px
      );
    }

    &-inner {
      font-size: 16px;
    }
  }
}
