.modal-btn {
  min-width: 159px;
  height: 44px;
  border-radius: 22px;
  background-color: var(--white);

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent_color);
  text-align: center;

  transition: background-color var(--main-transition);

  &:hover,
  &:focus {
    background: #ecebeb;
  }
}
