.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 280px;

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28px;
    color: var(--white);

    &:hover,
    &:focus {
      color: var(--accent_color);
    }
  }
}

@media screen and (min-width: 730px) {
  .navigation {
    width: 510px;
  }
  .nav-button {
    min-width: 160px;
    height: 44px;
  }
}

@media screen and (max-width: 1079px) {
  .navigation__list {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .navigation {
    width: 850px;
    &__btn-close {
      display: none;
    }

    &__list {
      min-width: 540px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__item {
      padding: 5px 0px;
    }
  }
}
