.social-icons-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;

  border-radius: 50%;
  background-color: #fea5bb;
}

.social-icons-list {
  display: flex;
}

.social-icons-list__item:not(:last-child) {
  margin-right: 24px;
}
