.title {
  font-family: var(--title_heading);
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent_color);

  margin-bottom: 50px;

  &_footer {
    text-align: left;
    margin-bottom: 0;
  }
}
