:root {
  // белый
  // черный
  // фон секции
  // фон героя и карточки
  // фон кофе с молоком
  // мятный фон
  // фон мобильного меню
  // Цвет акцента
  // основной цвет текста
  --white: #ffffff;
  --black: #000000;
  --section_background: #fff5f6;
  --hero_background: #ffb8ca;
  --card_background_coffee: #f0d1a5;
  --card_background_mint: #c2e297;
  --mobile_background: #e17992;
  --accent_color: #d41443;
  --primary_accent: #c7133e;
  --main_text: #907e82;

  // цвет времени
  // акцент кнопки
  // кнопка контактов
  --time-clr: #ffa5ba;
  --accent-btn: #ecebeb;
  --contact-btn: #d41342;

  // цвет линии
  --border: #e1e1e1;
  --border_clr: #e1e1e1;

  // заголовки секций
  --title_heading: 'Titan One', sans-serif;
  --main-font: 'DM Sans', Sans-Serif;

  // паддинги на секции
  --section-pt: 125px;
  --section-pb: 125px;

  // переход для ховера и фокуса
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // тень контактов
  --shadow_contacts: rgba(212, 20, 67, 0.1);
}
