@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 20px;
}

.logo {
  width: 199px;
  height: 50px;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger-btn__icon {
  width: 20px;
  height: 12px;
}

.btn {
  display: none;
}

.menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 60px 21px;
  background-color: var(--mobile_background);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__btn-close {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 23px;
  right: 28px;
  cursor: pointer;
}

.menu__icon-close {
  width: 14px;
  height: 14px;
}

.is-open {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

body {
  color: var(--main_text);
  font-family: --main-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* svg {
  fill: currentColor;
} */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 310px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 730px) {
  .container {
    width: 730px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 1080px;
  }
}

.button {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  padding: 0px 37px;
  border-radius: 22px;
  color: var(--accent_color);
  background-color: var(--white);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --section_background: #fff5f6;
  --hero_background: #ffb8ca;
  --card_background_coffee: #f0d1a5;
  --card_background_mint: #c2e297;
  --mobile_background: #e17992;
  --accent_color: #d41443;
  --main_text: #907e82;
  --title_heading: 'Titan One', sans-serif;
  --main-font: 'DM Sans', Sans-Serif;
  --section-pt: 125px;
  --section-pb: 125px;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */