<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <p class="advantages__item-description">
          <span class="advantages__item-quantity">721</span>Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__item-description">
          <span class="advantages__item-quantity">16kg</span>Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__item-description">
          <span class="advantages__item-quantity">84</span>Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
