<footer class="page-footer">
  <div class="container">
    <div class="footer-lable-wrapper">
      <p class="suptitle_footer">homemade ice cream made</p>
      <h2 class="title_footer">with passion</h2>
    </div>
    <div class="social-list-wrapper">
      <ul class="social-list list">
        <li class="social-list-item">
          <svg class="social-list-icon" width="34px" height="34px">
            <use href="./images/icons.svg#github"></use>
          </svg>
        </li>
        <li class="social-list-item">
          <svg class="social-list-icon" width="34px" height="34px">
            <use href="./images/icons.svg#telegram"></use>
          </svg>
        </li>
        <li class="social-list-item">
          <svg class="social-list-icon" width="34px" height="34px">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </li>
      </ul>
      <p class="footer-telephone">
        Feel free to contact<a href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
    <p class="copyright">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
