<section class="gallery">
  <div class="container">
    <h2 class="title visually-hidden">gallery</h2>

    <picture class="gallery-img">
      <source
        srcset="./images/gallery/desktop/gallery.jpg 1x, ./images/gallery/desktop/gallery@2.jpg 2x"
        media="(min-width: 1080px)"
      />

      <source
        srcset="./images/gallery/tablet/gallery.jpg 1x, ./images/gallery/tablet/gallery@2.jpg 2x"
        media="(min-width: 730px)"
      />

      <source
        srcset="./images/gallery/mobile/gallery.jpg 1x, ./images/gallery/mobile/gallery@2.jpg 2x"
        media="(min-width: 320px)"
      />

      <img src="./images/gallery/mobile/gallery.jpg" alt="Коллаж мороженое" />
    </picture>
  </div>
</section>
