<header class="header">
  <div class="container">
    <nav class="navigation">
      <a href="./index.html" class="link">
        <picture class="logo">
          <source
            srcset="./images/logo.png 1x, ./images/logo@2.png 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/logo.png" alt="logotype" />
        </picture>
      </a>

      <button type="button" class="burger" data-menu-button>
        <svg class="burger__icon">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <!-- menu navigation-->
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a href="./index.html" class="navigation__link link active-link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#quote" class="navigation__link link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link link">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a href="#product" class="navigation__link link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link link">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="btn nav-button">
      Buy now
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</header>
