<section class="mention-reviews">
  <div class="container">
    <h2 class="visually-hidden">mention</h2>
    <picture>
      <source
        srcset="./images/reviews/smile.png 1x, ./images/reviews/smile@2.png 2x"
        media="(min-width: 1080px)"
      />
      <source
        srcset="./images/reviews/smile.png 1x, ./images/reviews/smile@2.png 2x"
        media="(min-width: 730px)"
      />
      <source
        srcset="./images/reviews/smile.png 1x, ./images/reviews/smile@2.png 2x"
        media="(min-width: 320px)"
      />
      <img src="./images/reviews/smile.png" alt="lovely girl smiling" />
    </picture>

    <p class="client-descr">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>

    <svg class="group-points" width="32px" height="4px">
      <use href="./images/icons.svg#group_points"></use>
    </svg>

    <b class="client__site">Emily, Los Angeles </b>

    <div class="toggle-slider">
      <svg class="home-slider" width="12px" height="12px">
        <use href="./images/icons.svg#home_slider"></use>
      </svg>
      <svg class="ellipse-slider" width="12px" height="12px">
        <use href="./images/icons.svg#ellipse_slider"></use>
      </svg>
      <svg class="ellipse-slider" width="12px" height="12px">
        <use href="./images/icons.svg#ellipse_slider"></use>
      </svg>
    </div>
  </div>
</section>
