<section id="quote" class="mention-reviews">
  <div class="container">
    <h2 class="visually-hidden">mention</h2>
    <picture class="client-photo">
      <source
        srcset="./images/reviews/smile.png 1x, ./images/reviews/smile@2.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/reviews/smile.png 1x, ./images/reviews/smile@2.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/reviews/smile.png 1x, ./images/reviews/smile@2.png 2x"
        media="(min-width: 320px)"
      />
      <img src="./images/reviews/smile.png" alt="lovely girl smiling" />
    </picture>

    <div class="client-wrapper">
      <p class="client-descr">
        <span class="client-inner">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </span>
      </p>
    </div>

    <b class="client-site"> Emily, Los Angeles </b>
    <!-- to be menu slider -->
    <div class="slider">
      <ul class="slider-nav">
        <li class="slider-nav__item list">
          <a href="" class="slider-nav__link link active-link">
            <svg width="12px" height="12px">
              <use href="./images/icons.svg#home-slider"></use>
            </svg>
          </a>
        </li>
        <li class="slider-nav__item list">
          <a href="" class="slider-nav__link link">
            <svg width="12px" height="12px">
              <use href="./images/icons.svg#ellipse-slider"></use>
            </svg>
          </a>
        </li>
        <li class="slider-nav__item list">
          <a href="" class="slider-nav__link link">
            <svg width="12px" height="12px">
              <use href="./images/icons.svg#ellipse-slider"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
