<div class="backdrop is-hidden" data-mdl>
  <div class="modal-contact">
    <button type="button" class="modal-contact__close" data-mdl-close>
      <svg class="modal-contact__close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <b class="modal-contact__title">Locations map</b>
    <img
      class="modal-contact__map"
      srcset="./images/modal/locations.png 1x, ./images/modal/locations@2.png 2x"
      src="./images/modal/locations@2.png"
      alt="Map locations"
    />
  </div>
</div>

<div class="backdrop is-hidden" data-modal>
  <div class="modal-contact">
    <button type="button" class="modal-contact__close" data-modal-close>
      <svg class="modal-contact__close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <b class="modal-contact__title">Franchise map</b>
    <img
      class="modal-contact__map"
      srcset="./images/modal/franchise.png 1x, ./images/modal/franchise@2.png 2x"
      src="./images/modal/franchise@2.png"
      alt="Franchise map"
    />
  </div>
</div>
