<section class="price-list">
  <div class="container">
    <p class="advertising">100% natural</p>
    <h2 class="title-name">products</h2>
 <ul class="product list">
      <li class="product__item link">
        
        <div class="product__box product__box_first-color">
        <!-- <picture>
          <source
            srcset="
              ./images/products/desktop/pink_ice_cream.png   1x,
              ./images/products/desktop/pink_ice_cream@2.png 2x
            "
            media="(min-width: 1080px)"
          />
          <source
            srcset="
              ./images/products/tablet/pink_ice_cream.png   1x,
              ./images/products/tablet/pink_ice_cream@2.png 2x
            "
            media="(min-width: 730px)"
          />
          <source
            srcset="
              ./images/products/mobile/pink_ice_cream.png   1x,
              ./images/products/mobile/pink_ice_cream@2.png 2x
            "
            media="(max-width: 730px)"
          />
          <img
            class="product__photo"
            src="./images/products/mobile/pink_ice_cream.png"
            alt="ice cream"
          />
        </picture> -->
        
        <h3 class="product__title">ice cream</h3>
        <svg class="product__points">
          <use href='./images/icons.svg#three-points' ></use>
        </svg>
        <p class="product__label">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. 
        </p>
         <button class="product__button" type="button">
         
          <svg class="product__icon">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
          </a>
        </button> 
        </div>
      </li>
      <li class="product__item link">
        <!-- <picture>
          <source
            srcset="
              ./images/products/desktop/ice_coffee.png   1x,
              ./images/products/desktop/ice_coffee@2.png 2x
            "
            media="(min-width: 1080px)"
          />
          <source
            srcset="
              ./images/products/tablet/ice_coffee.png   1x,
              ./images/products/tablet/ice_coffee@2.png 2x
            "
            media="(max-width: 730px)"
          />
          <source
            srcset="
              ./images/products/mobile/ice_coffee.png   1x,
              ./images/products/mobile/ice_coffee@2.png 2x
            "
            media="(max-width: 320px)"
          />
        <img class="product__photo" src="./images/products/mobile/ice_coffee.png" alt="ice coffee" />
        </picture> -->
        <div class="product__box product__box_second-color">
        <h3 class="product__title">ice coffee</h3>
         <svg class="product__points">
          <use href='./images/icons.svg#three-points' ></use>
        </svg>
        <p class="product__label">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. 
        </p>
         <button class="product__button" type="button">
          <svg class="product__icon">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        </div>
      </li>
      <li class="product__item link">
         <!-- <picture>
          <source
            srcset="
              ./images/products/desktop/milkshakes.png   1x,
              ./images/products/desktop/milkshakes@2.png 2x
            "
            media="(min-width: 1080px)"
          />
          <source
            srcset="
              ./images/products/tablet/milkshakes.png   1x,
              ./images/products/tablet/milkshakes@2.png 2x
            "
            media="(min-width: 730px)"
          />
          <source
            srcset="
              ./images/products/mobile/milkshakes.png   1x,
              ./images/products/mobile/milkshakes@2.png 2x
            "
            media="(min-width: 320px)"
          />
        <img class="product__photo" src="./images/products/mobile/milkshakes.png" alt="milkshakes">
        </picture> -->
        <div class="product__box product__box_third-color">
        <h3 class="product__title">milkshakes</h3>
         <svg class="product__points">
          <use href='./images/icons.svg#three-points' ></use>
        </svg>
        <p class="product__label">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.  </p>
         <button class="product__button" type="button">
          <svg class="product__icon">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
        </div>
      </li>
  </div>
</section>
