<section>
  <div class="container">
    <p>100% natural</p>
    <h2>products</h2>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ./images/products/desktop/pink_ice_cream.png    1x,
              ./images/products/desktop/pink_ice_cream@2x.png 2x
            "
          />
          <source
            srcset="
              ./images/products/tablet/pink_ice_cream.png    1x,
              ./images/products/tablet/pink_ice_cream@2x.png 2x
            "
          />
          <source
            srcset="
              ./images/products/mobile/pink_ice_cream.png    1x,
              ./images/products/mobile/pink_ice_cream@2x.png 2x
            "
          />
          <img src="./images/products/mobile/pink_ice_cream.png" alt="" />
        </picture>
        <h3>ice cream</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/products/desktop/ice_coffee.png    1x,
              ./images/products/desktop/ice_coffee@2x.png 2x
            "
          />
          <source
            srcset="
              ./images/products/tablet/ice_coffee.png    1x,
              ./images/products/tablet/ice_coffee@2x.png 2x
            "
          />
          <source
            srcset="
              ./images/products/mobile/ice_coffee.png    1x,
              ./images/products/mobile/ice_coffee@2x.png 2x
            "
          />

          <img src="./images/products/mobile/ice_coffee.png" alt="" />
        </picture>
        <h3>ice coffee</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/products/desktop/milkshakes.png    1x,
              ./images/products/desktop/milkshakes@2x.png 2x
            "
          />
          <source
            srcset="
              ./images/products/tablet/milkshakes.png    1x,
              ./images/products/tablet/milkshakes@2x.png 2x
            "
          />
          <source
            srcset="
              ./images/products/mobile/milkshakes.png    1x,
              ./images/products/mobile/milkshakes@2x.png 2x
            "
          />

          <img src="./images/products/mobile/milkshakes.png" alt="" />
        </picture>
        <h3>milkshakes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
    </ul>
  </div>
</section>
