<section id="product" class="price">
  <div class="container">
    <p class="advertising">100% natural</p>
    <h2 class="title-name">products</h2>
    <ul class="product list">
      <li class="product__item link">
        <div class="product__box product__box_first-color">
          <h3 class="product__title">ice cream</h3>

          <p class="product__label">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <span class="product__text-hidden"> dolore magna aliqua facilisis.</span>
          </p>
          <button class="product__button" type="button">
            <svg class="product__icon">
              <use href="./images/icons.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product__item link">
        <div class="product__box product__box_second-color">
          <h3 class="product__title">ice coffee</h3>

          <p class="product__label">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.
            <span class="product__text-hidden"> dolore magna aliqua facilisis.</span>
          </p>
          <button class="product__button" type="button">
            <svg class="product__icon">
              <use href="./images/icons.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product__item link">
        <div class="product__box product__box_third-color">
          <h3 class="product__title">milkshakes</h3>

          <p class="product__label">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et.<span class="product__text-hidden">
              dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="product__button" type="button">
            <svg class="product__icon">
              <use href="./images/icons.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
